<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204696322261-77le7d4c392hbk15ugj2vd7et6nq75b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204696322261-77le7d4c392hbk15ugj2vd7et6nq75b5</string>
	<key>API_KEY</key>
	<string>AIzaSyD36fV90Y2edBh5rncwYGUIRl3jUx6PquE</string>
	<key>GCM_SENDER_ID</key>
	<string>204696322261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moci.petcare.mociPetcare</string>
	<key>PROJECT_ID</key>
	<string>moci-petcare</string>
	<key>STORAGE_BUCKET</key>
	<string>moci-petcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204696322261:ios:bf3228dd9fbf2f1338625c</string>
</dict>
</plist>